<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin Sans">
    <title>Document</title>
</head>
<body>
    <div id="header">
        <img src="{% static 'images/logoAlt1.png' %}" alt="" width="20%">
    </div>
    <div id="wrapper">
        <div id="homeWrapper">
            <h1>Brush Clearing Services</h1>
            <div id="contactButtons">
                <button>Call Us</button>
                <button>Email Us</button>
            </div>
        </div>
        <div id="servicesWrapper">
            <h1>What We Offer:</h1>
            <br>
            <br>
            <div id="iconsContainer">
                <div class="servicesIcon">
                    <img src="{% static 'images/fullTree.png' %}" alt="" width="35%">
                    <br>
                    <h2>Brush Hogging</h2>
                </div>
                <div class="servicesIcon">
                    <img src="{% static 'images/stump.png' %}" alt="" width="35%">
                    <br>
                    <h2>More Coming Soon</h2>
                </div>
            </div>
        </div>
        <div id="aboutWrapper">
            <div id="aboutContainer">
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </h3>
            </div>
        </div>
        <div id="contactWrapper">
            <div id="callContact">
                <h3>Call Us</h3>
                <button>555-555-5555</button>
            </div>
            <div id="emailContact">
                <h3>Email Us</h3>
                {% if submitted %}
                    <p>Your message has been sent. <br>
                        We'll get back to you as soon as we can
                    </p>
                {% else %}
                    <form action="" method="post" novalidate>
                        {{ form.as_p }}
                        <input type="submit" value="Submit" class="formInput">
                        {% csrf_token %}
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</body>

<script>
    gsap.registerPlugin(ScrollTrigger);

    gsap.timeline()
        .from("#homeWrapper h1", {opacity:0, duration:1})
        .from("#contactButtons", {opacity:0, y: 200, duration: .5})

    gsap.timeline({scrollTrigger: {trigger:"#servicesWrapper", start: "top center", toggleActions:"restart none restart none"}})
        .from("#servicesWrapper h1", {opacity:0, y: 100, duration: .5})
        .from(".servicesIcon", {opacity:0, y: 200, duration: .5})

    gsap.timeline({scrollTrigger: {trigger:"#aboutWrapper", start: "top center", toggleActions:"restart none restart none"}})
        .from("#aboutContainer", {delay:.5, opacity:0, y: 200, duration: .5})

    gsap.timeline({scrollTrigger: {trigger:"#contactWrapper", start: "top bottom", toggleActions:"restart none restart none"}})
        .from("#callContact", {delay:.5, opacity:0, x: -400, duration: .5})
        .from("#emailContact", {opacity:0, x: 400, duration: .5})

</script>

</html>